* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.name {
    background-color: #555555;
    padding: 15px;
    padding-left: 40px;
}

.m1t1n {
    text-decoration: underline rgb(29, 107, 29);
}

.basic-info {
    background-color: #777777;
    display: flex;
    justify-content: flex-start;
}

.m1child1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    padding: 25px;
}

.m1t1 {
    padding: 5px;
}

.m1p1 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactinfo {
    padding-top: 20px;
    padding: 10px;
    margin-top: 30px;
}

.con {
    text-decoration: underline rgb(25, 133, 25);
}

.contactinfo h3,
h5 {
    padding: 3px;
}

.profilepic {
    height: 500px;
}

.subjects {
    background-color: #555555;
}

.first-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}

.second-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}

.project-head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.project-head h4 {
    padding-bottom: 5px;
    text-decoration: underline rgb(29, 87, 29);
}

.projects {
    background-color: #777777;
    padding: 20px;
}

.projects h2 {
    padding-left: 10px;
}

.projects img {
    width: 200px;
    padding: 20px;
}

.projects-info {
    padding: 30px;
    display: flex;
}

.footer-contnent {
    background-color: #555555;
    display: flex;
    padding: 30px;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-right h2 {
    text-decoration: underline rgb(40, 111, 40);
    padding-bottom: 10px;
}

.last-line {
    background-color: #777777;
    padding: 20px;
}